.App {
  text-align: center;
  margin: 0 auto;
  background-image: url("../../Data/standup.jpg");
  background-position: center bottom -50px;
  background-size: 800px;

  background-repeat: no-repeat;

  width: 700px;
  height: 680px;
}
